body {
  font-family: sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 1280px;
}

.list_container {
direction: rtl;
overflow:auto;
height: 500px;
width: 50px;
}

.item_direction {
direction:ltr;
}
